# Author: Huram-Abi Nzia Yotchoum
## Week 8 : Cheat Sheet
## Created on: 11 OCT 2020

 
Assistance Received: Any documentation needed

In [39]:
import pandas as pd
import numpy as np

## Pandas Series

In [3]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data2 = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
data2

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

## Pandas DataFrame Object

In [17]:
dat = {'EVEN': [i for i in range(0,11,2)], 'ODD': [i for i in range(1,13,2)]}
df = pd.DataFrame(data=dat)
df

   EVEN  ODD
0     0    1
1     2    3
2     4    5
3     6    7
4     8    9
5    10   11

In [19]:
df['EVEN']

0     0
1     2
2     4
3     6
4     8
5    10
Name: EVEN, dtype: int64

In [20]:
df['ODD']

0     1
1     3
2     5
3     7
4     9
5    11
Name: ODD, dtype: int64

## Data Manipulation, Anlysis and Organization

### Merge, join, concatenat, and compare

In [24]:

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']},
                       index=[0, 1, 2, 3])
   

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                  'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                 index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                 'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])
frames = [df1, df2, df3]

result = pd.concat(frames)

result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [30]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
  
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})
 

result = pd.merge(left, right, on='key')

(left,
right,
result)

(  key   A   B
 0  K0  A0  B0
 1  K1  A1  B1
 2  K2  A2  B2
 3  K3  A3  B3,
   key   C   D
 0  K0  C0  D0
 1  K1  C1  D1
 2  K2  C2  D2
 3  K3  C3  D3,
   key   A   B   C   D
 0  K0  A0  B0  C0  D0
 1  K1  A1  B1  C1  D1
 2  K2  A2  B2  C2  D2
 3  K3  A3  B3  C3  D3)

In [34]:
left = pd.DataFrame(index= ['K0', 'K1', 'K2', 'K3'], data={
                        'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
  
right = pd.DataFrame(index= ['K0', 'K1', 'K2', 'K3'],
data= {'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']})
 

left.join(right)

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2
K3  A3  B3  C3  D3

In [38]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
  
right = pd.DataFrame(index= ['K0', 'K1','K1','K0'],
data= {'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']})

left.join(right, on="key")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
0  K0  A0  B0  C3  D3
1  K1  A1  B1  C1  D1
1  K1  A1  B1  C2  D2
2  K0  A2  B2  C0  D0
2  K0  A2  B2  C3  D3
3  K1  A3  B3  C1  D1
3  K1  A3  B3  C2  D2

In [44]:
df = pd.DataFrame(
    {
        "col1": ["a", "a", "b", "b", "a"],
        "col2": [1.0, 2.0, 3.0, np.nan, 5.0],
        "col3": [1.0, 2.0, 3.0, 4.0, 5.0]
    },
    columns=["col1", "col2", "col3"],)

df2 = df.copy()

df2.loc[0, 'col1'] = 'c'
df2.loc[2, 'col3'] = 4.0

df.compare(df2)

  col1       col3
  self other self other
0    a     c  NaN   NaN
2  NaN   NaN  3.0   4.0

In [45]:
df.compare(df2, align_axis=0)

        col1  col3
0 self     a   NaN
  other    c   NaN
2 self   NaN   3.0
  other  NaN   4.0

In [46]:
df.compare(df2, keep_equal=True)

  col1       col3
  self other self other
0    a     c  1.0   1.0
2    b     b  3.0   4.0